body {
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	font-family: QuickSand;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.topnav {
	overflow: hidden;
	text-align: center;
	text-decoration: none;
}
.aligncenter {
	text-align: center;
}
